[submodule "packages/external"]
	path = packages/external
	url = http://software.sandia.gov/git/dakota-packages
[submodule "packages/pecos"]
	path = packages/pecos
	url = http://software.sandia.gov/git/pecos
[submodule "packages/surfpack"]
	path = packages/surfpack
	url = http://software.sandia.gov/git/surfpack
